---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout/Layout.astro";
import { getFilmsService } from "../../components/views/films/services/getFilms.service";

export const getStaticPaths = (async () => {
  const { results: films1 } = await getFilmsService();
  const { results: films2 } = await getFilmsService({ page: 2 });
  const { results: films3 } = await getFilmsService({ page: 3 });

  const films = [...films1, ...films2, ...films3];

  return films.map((film) => ({
    params: { id: film.id },
    props: {
      title: film.title,
      backdrop: film.backdrop,
    },
  }));
}) satisfies GetStaticPaths;

const { title, backdrop } = Astro.props;
---

<Layout title={title}>
  <h1>
    {title}
  </h1>
  <img src={backdrop} alt={title} />
</Layout>
