---
import ListFilms from "../components/views/films/ListFilms/ListFilms.astro";
import type { Films } from "../components/views/films/types";
import Layout from "../layouts/Layout/Layout.astro";
import { ROUTER } from "./router";
---

<Layout title={ROUTER.films.display}>
  <h1>{ROUTER.films.display}</h1>
  <ListFilms />
</Layout>

<style></style>
