---
import ListFilms from "../components/views/films/ListFilms/ListFilms.astro";
import { getFilmsService } from "../components/views/films/services/getFilms.service";
import Layout from "../layouts/Layout/Layout.astro";
import { ROUTER } from "./router";

const films = await getFilmsService();
---

<Layout title={ROUTER.films.display}>
  <h1>{ROUTER.films.display}</h1>
  <ListFilms films={films} />
</Layout>

<style></style>
