---
import Layout from "../layouts/Layout/Layout.astro";
import { ROUTER } from "./router";
---

<Layout title={ROUTER.index.display}>
  <div class="index">
    <h1>¡Bienvenido! 🎥</h1>
  </div>
</Layout>

<style>
  .index {
    height: 100%;

    display: grid;
    place-content: center;
  }
</style>
